// Colores generales

$color-principal: #5ba3d1;
$color-secundario: #a5d6a7;
$color-hover: #005fa3;
$color-texto: #424242;
$color-white: #ffffff;
$texto: #333;
$primario: #007BFF;
$gris-oscuro: #424242;
/* Texto */
$fuente-base: 'Helvetica Neue', Arial, sans-serif;
// Otros
$espaciado-base: 20px;
$radio: 75px;
$secundario: $color-secundario;
