@use '../utils/variables' as *;

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp a {
  background-color: #25D366;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
