@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/mediaquery' as *;
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 40px;
  gap: 40px;
  background-color: #f0f0f0;

  &-texto {
    h1 {
      font-size: 36px;
      color: #424242;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
      color: #424242;
    }
  }

  &-imagen {
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
}

