.casos_exitosos {
 color: #ffffff;
 
}

.casos_exitosos img {
  width: 100%;
  border-radius: 10px;
  border: 4px solid #a5d6a7;
}

.casos_exitosos .card {
  background-color: #ffffff;
  color: #424242;
  border:  4px solid #a5d6a7;
  border-radius: 12px;
}

.casos_exitosos .card-title {
  font-weight: bold;
}

.casos_exitosos h2 {
  color: #ffffff;
}

