
  .main-contact .formulario {
  margin-top: 5%;
  margin-block-end: 15%;
  width: 45%;
  max-width: 100%;
  margin-left: 30%;
  background-color: #a5d6a7;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 30px 10px rgba(0, 0, 0, 0.104);
  }

